<%= render 'layouts/guest_menu' %>
<div class="container">
  <div class="title">Tenements</div>
    <div>
      <input type="text" id="inputRegion" placeholder="Find by region">
      <input type="number" id="inputPrice" placeholder="Max price">
      <input type="number" id="inputGuests" placeholder="Guests">
      arrive: <input type="date" id="inputArrive" placeholder="Arrive">
      departure: <input type="date" id="inputDeparture" placeholder="Departure">

      <select id="selectType">
        <option disabled selected value="">Property type</option>
        <% Tenement.property_types.each do |type| %>
          <option><%= type&.first %></option>
        <% end %>
      </select>

      <button type="button" onclick="filterTenements()">Select</button>
    </div>
  <% @tenements.each do |tenement| %>
    <div class="element-container">
      <p><%=  link_to tenement.title, tenement %></p>
      <p> <%= "Region: #{tenement.region}" %></p>
      <p><%= "Price: #{tenement.price} $/day" %></p>
      <p><%= "Max guests: #{tenement.guests}" %></p>
      <p><%= "Property_type: #{tenement.property_type}" %></p>
    </div>
  <% end %>
</div>

<script>
  function filterTenements(){
    let region = document.getElementById('inputRegion').value
    let price = document.getElementById('inputPrice').value
    let guests = document.getElementById('inputGuests').value
    let type = document.getElementById('selectType').value
    let arrive = document.getElementById('inputArrive').value
    let departure = document.getElementById('inputDeparture').value

    window.location.replace(`http://${window.location.host}/tenements/?price=${price}&guests=${guests}&property_type=${type}&region=${region}&arrive=${arrive}&departure=${departure}`)
  }
</script>
