<%= form_for [:hosting, @tenement] do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :guests %>
    <%= form.number_field :guests %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.select :property_type, Tenement.property_types.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>