<%= render 'layouts/hosting_menu' %>
<div class="container">
  <div class="title">My Tenements</div>
  <p><%= link_to 'Add new tenement', new_hosting_tenement_path(@tenement) %></td></p><br>

  <% @tenements.each do |tenement| %>
    <div class="element-container">
      <p><%=  link_to tenement.title, hosting_tenement_url(tenement) %></p>
      <p> <%= "Region: #{tenement.region}" %></p>
      <p><%= "Price: #{tenement.price} $/day" %></p>
      <p><%= "Max guests: #{tenement.guests}" %></p>
      <p><%= "Property_type: #{tenement.property_type}" %></p>
    </div>
  <% end %>
</div>